################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApp/obj/Debug
/.vs
/WebApp/.vs/WebApp
